# api key
/.env

# raw data
tripadvisor.csv

# after 'gpt_4_1_mini.py'
full_aspect.csv

# after 'normalized_aspects.py'
profile.csv
aspect_category_map.csv
tourist_profile_normalized.csv
tourist_profile_data.csv